<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Movies details</title>
</head>

<body>
    <div class="container">
        <%- include('./partials/header') %>
        <h1>Details du film</h1>
        <div>
            <form action="/movies/<%= movieId %>" method="post">
                <legend>Modifier le film</legend>
                <label for="movietitle">Titre du film</label>
                <input type="text" id="movietitle" name="movietitle" value="<%= movie.movietitle %>">
                <label for="movieyear">Année de sortie</label>
                <input type="text" id="movieyear" name="movieyear" value="<%= movie.movieyear %>">
                <button type="submit">Modifier</button>
            </form>
            <button id="sup-button">Supprimer</button>

        </div>
    </div>

    <%- include('./partials/footer') %>

    <script src="/static/axios.min.js"></script>
    <script>
        let supButton = document.querySelector('#sup-button')

        supButton.addEventListener('click', (e) => {
            e.preventDefault();

            // Assuming `movieId` is passed from the server to the template
            let movieId = "<%= movieId %>";
            let url = `/movies/${movieId}`;

            axios.delete(url)
                .then((response) => {
                    window.location = "/movies"; // Redirect to movies list after deletion
                })
                .catch((err) => {
                    console.error("Error:", err);
                });
        });
    </script>
</body>

</html>